### Machine Learning
- Python
- Data Analysis
- ML Algorithms

##### Machine Learning
- It is the process of making system/machine ready without giving instructions and that can learn from the previous experience 
- 3types of algorithms
    1. Supervised ML
        - The programmer knows about input and ouput of our system
        - input(features) and ouput(predictions)
    2. Unsupervised ML and 
        - The programmer knows only i/p(features) and donot about on predictions(approximate) 
    3. Reinforcement ML
        
        - Mainly works in realtime environment
        - Chess,Carroms and Ludo: with computer(ML)
        - Reviews on Product purchase

##### Review on Python Basics
1. General Purpose,high level and interpreted language
    1. Web developement,DA,Mbl Applications,System S/wDevelopements 
    2. Building block of all current technologies such as DA,ML,AI(DS), Robotics,IOT etc
    
2. User understandable Language
3. Gives us the line by line execution
4. Syntax free language
5. Semi object oriented one

##### programming in python

In [1]:
print("started with double and ended with signle ")

started with double and ended with signle

In [2]:
print("started with double and ended with signle')

SyntaxError: EOL while scanning string literal (<ipython-input-2-f8b59a31a4e9>, line 1)

In [3]:
print('started with double and ended with signle ")

SyntaxError: EOL while scanning string literal (<ipython-input-3-eeca02e6f935>, line 1)

In [5]:
# high light 
print("Hi I am 'Ruthu' from APSSDC")

Hi I am 'Ruthu' from APSSDC

In [6]:
#35 key words in python

In [7]:
import keyword as key

In [8]:
dir(key)

['__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'iskeyword',
 'kwlist',
 'main']

In [11]:
print(key.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [15]:
import keyword as key
li=key.kwlist
print(li) # keywords in python
len(li)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

35

#### Variable Assignments

In [16]:
val=10
print(val) # value stored in val

10

In [17]:
print("val") # strings

val

In [18]:
# multi variables
a=10 # line by line
b=20
c=10
print(a,b,c)

10 20 10

In [19]:
#please follow the naming order
Roll_Name

NameError: name 'Roll_Name' is not defined

In [21]:
x,y,z=10,40,50
print(x,y,z,sep=",") # multiple values

10,40,50

In [23]:
#same value assigned to multiple variables
f=s=th=60
print(f,th,s,sep=",")

60,60,60

##### Dynamic Reading
1. str data:input()
2. int data:int(input())

In [24]:
st=input()# it reads str data
st

HI I am ML Trainer from APSsdc

'HI I am ML Trainer from APSsdc'

In [25]:
type(st)

str

In [27]:
# reading int value
num=int(input()) # type casting/conversion
print(num)

8765456789
8765456789

In [28]:
cgpa=float(input("Enter your cgpa:")) #explicit conversion
cgpa

Enter your cgpa:9.4

9.4

In [30]:
# implicit conversion :default conversion by the interpreter
90+45.66 
#o/p:floating

135.66

In [33]:
st_num="9087"
type(st_num)

str

In [35]:
st_num+90 #

TypeError: can only concatenate str (not "int") to str

In [36]:
int(st_num)+90

9177

In [38]:
st_num+"ruthu"

'9087ruthu'

In [42]:
# read 2 integers from user and perform all the arithmetic op'ns
first,second=int(input("first value:")),int(input("second value:"))
print("sum=",first+second)
print("differene=",first-second)
print("product=",first*second)
print("Quotient",first/second)
print("Int quotient",first//second)
print("Remainder",first%second)
print("Exponent",first**second)

first value:90
second value:45
sum= 135
differene= 45
product= 4050
Quotient 2.0
Int quotient 2
Remainder 0
Exponent 8727963568087712425891397479476727340041449000000000000000000000000000000000000000000000

In [43]:
10/3

3.3333333333333335

In [44]:
10//3

3

#### Operators in Python
- Arithmetic Operators
    - +,-,*,/,//,%,**
- Assignment Op'rs
    -=, +=,-=,*=,/=,!=
- Boolean Op'rs
    - True/False 1/0
- Bitwise Op'rs
    - <<,>>
- Comparisional/Relational Op'rs
    - <,<=,>,>=,==
- Identity Op'rs
    - is, is not
- Membership Op'rs
    - in and not in
- Logical Op'rs
    - or , and 
- Operators used in print()
    - sep,end
    
    
    
    
- PEDMAS

In [46]:
first<<2 # left shift

360

In [48]:
first>>2 # right shift

22

In [52]:
x=3+6/15-7*(14+60)
# o/p:3+0.4-7*(74) #518

In [51]:
7*74

518

In [53]:
x

-514.6

In [54]:
3.4-518

-514.6

In [55]:
## Assignment Operators
x

-514.6

In [57]:
x+=10 # -514.6+10
y=45# x=x+10
x/=4
x-=y
print(x,y)

-168.65 45

In [58]:
x

-168.65

In [59]:
y

45

In [60]:
x<y # statement

True

In [61]:
y>x

True

In [62]:
x>=y

False

In [63]:
y>=x

True

In [64]:
x=y # assign

In [65]:
x

45

In [66]:
y

45

In [67]:
x!=y

False

In [68]:
id(x)

140724860593936

In [69]:
id(y)

140724860593936

In [70]:
 # identity is also equal

In [71]:
x is y

True

In [72]:
y is not x

False

In [73]:
a is not b

True

In [76]:
a is b

False

In [75]:
b

20

In [79]:
"r" in "apssdc" # statement

False

In [80]:
"a" in "apssdc"

True

#### Conditional Statemets
- A statement that raises the condition
- if,else and elif

In [87]:
# read a char from user and print if it is vowel
ch=input()
if ch=="a" or ch=="e" or ch=='i' or ch=='o' or ch=='u':
    print(ch)

o
o

In [88]:
vowels="aeiouAEIOU"
if ch in vowels:
    print(ch)

o

In [92]:
ch=input('Enter a char:')
if ch in vowels:
    print('vowel')
else:
    print('consonant')

Enter a char:O
vowel

In [1]:
# find the largest among3 integers 
num,num2,num3=int(input()),int(input()),int(input())
if num>num2 and num>num3:
    print(num,'is largest')
elif num2>num and num2>num3:
    print(num2,'is largest')
else:
    print(num3,'is largest')

90
45
100
100 is largest

In [9]:
# read a year from user and print whether it is leap or not
year=int(input("Enter the year:"))
if year%400==0 or (year%4==0 and year%100!=0):
    print("leap")
else:print("non leap")

Enter the year:1980
leap

In [15]:
#read a number from user and if it is the multiple of 3&5 print('hi')
# multiple of 3*7 :hello
# if not possible "hey you are wrong!"
dig=int(input())
if dig%3==0 and dig%5==0:
    print("hi")
elif dig%3==0 and dig%7==0:
    print("hello")
else:print("Hey you are wrong !")

45
hi

In [17]:
n=int(input())
if n%2 is 0:
    print('even')
else:print('odd')

11
odd